@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.leaflet-container{
  width: 100% !important;
  height: 100% !important;
}

.icon {
  border: none;
  background: transparent;
  color: #8e8d8d;
}
.main{
  display: grid;
  grid-template-rows: 1fr 18fr;
}
.content{
  display: grid;
  grid-template-columns: 4.5fr 1fr;
}
.side-nav{
  height: 80vh;
  overflow: scroll;
}